@import url('https://fonts.googleapis.com/css?family=Courgette|Lobster|Yantramanav:300');

#logo {
    font-family: 'Lobster', cursive;
}

.intro {
    font-family: 'Courgette', cursive;
}

#intro {
    font-family: 'Courgette', cursive;
}

#beta {
    font-family: 'Lobster', cursive;
    color:aqua;
    margin-left: -25%;
    padding-top: 5%;
}

#aboutAsmr {
    font-family: 'Yantramanav', sans-serif;
    color: black;
}

#UserName.wide{
    width: 280px;
}

#UserEmail.wide{
    width: 280px;
}

#UserInput.wideBox{
    width: 280px; 
    height: 175px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
