
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sorry...</h1>
<h2>There were no videos in the database matching your preferences.</h2>
<h3>Please check back later as we are always adding videos!</h3>
<p>Return @Html.ActionLink("Home",  "Index", "Home")</p>

